---
import {
  At,
  BrandNextjs,
  BrandTailwind,
  FileCertificate,
} from "tabler-icons-react";
import IconLink from "../ui/icon-link.astro";
import Typescript from "../ui/missing-icons/typescript.astro";
import VSCode from "../ui/missing-icons/vscode.astro";
import Rust from "../ui/missing-icons/rust.astro";
---

<div class="flex flex-col gap-4 md:flex-row">
  <img src="/sasse-louis.jpg" class="h-40 w-40 rounded-lg lg:h-56 lg:w-56" alt=""
  />
  <div class="max-w-prose">
    <p>👨🏻 Mentor senior a toulouse Ynov Campus</p>
    <p>J'utilise ces outils pour développer :</p>
    <div class="mt-2 mb-3 grid grid-cols-2 gap-2">
      <IconLink
        class={[
          "hover:border-[#3178c6]",
          "focus:border-[#3178c6]",
          "hover:bg-[#3178c6]",
          "focus:bg-[#3178c6]",
          "hover:text-white",
          "focus:text-white",
        ].join(" ")}
        href="https://en.wikipedia.org/wiki/C%2B%2B"
        text="C / C++"
        blank
      >
      </IconLink>
      <IconLink
        class={[
          "hover:border-black",
          "focus:border-black",
          "hover:bg-black",
          "focus:bg-black",
          "hover:text-white",
          "focus:text-white",
        ].join(" ")}
        href="https://nextjs.org/"
        text="Rust"
        blank
      >
        <Rust class="h-4 w-4"  border border-white/>
      </IconLink>
      <IconLink
        class={[
          "hover:border-white",
          "focus:border-white",
          "hover:bg-white",
          "focus:bg-white",
          "hover:text-[#1e9cf0]",
          "focus:text-[#1e9cf0]",
        ].join(" ")}
        href="https://www.jetbrains.com/clion/"
        text="CLion"
        blank
      >
      </IconLink>
    </div>
    <p>
      si vous voulez en savoir plus vous pouvez{" "}
      <IconLink
        text="lire mon CV"
        href="/cv_Louis_SASSE.pdf"
        class="translate-y-1.5 hover:border-zinc-500 focus:border-zinc-500"
        blank
      >
        <FileCertificate className="w-4" />
      </IconLink>
    </p>
    <p>
      sinon, vous pouvez{" "}
      <IconLink
        text="m'envoyer moi un email"
        href="mailto:louis.sasse@protonmail.com"
        class="translate-y-1.5 hover:border-zinc-500 focus:border-zinc-500"
      >
        <At className="w-4" />
      </IconLink>
    </p>
  </div>
</div>
